<!DOCTYPE html>
<html>
<head>
  <title>SciCombinator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= yield %>
    <footer>© <%= DateTime.now.year %> John Griffin</footer>
  </div>

</body>
</html>
